Visual Studio 2015/Projects/Daloc - Lager/Backup/SmartShipment/Web References/se.navipro.dev1/SynchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.navipro.se/navisionmobile/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.navipro.se/navisionmobile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.navipro.se/navisionmobile/">
      <s:element name="PerformService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceRequest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PerformServiceSoapIn">
    <wsdl:part name="parameters" element="tns:PerformService" />
  </wsdl:message>
  <wsdl:message name="PerformServiceSoapOut">
    <wsdl:part name="parameters" element="tns:PerformServiceResponse" />
  </wsdl:message>
  <wsdl:message name="PerformServiceHttpGetIn">
    <wsdl:part name="serviceRequest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PerformServiceHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PerformServiceHttpPostIn">
    <wsdl:part name="serviceRequest" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PerformServiceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SynchServiceSoap">
    <wsdl:operation name="PerformService">
      <wsdl:input message="tns:PerformServiceSoapIn" />
      <wsdl:output message="tns:PerformServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SynchServiceHttpGet">
    <wsdl:operation name="PerformService">
      <wsdl:input message="tns:PerformServiceHttpGetIn" />
      <wsdl:output message="tns:PerformServiceHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SynchServiceHttpPost">
    <wsdl:operation name="PerformService">
      <wsdl:input message="tns:PerformServiceHttpPostIn" />
      <wsdl:output message="tns:PerformServiceHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SynchServiceSoap" type="tns:SynchServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="PerformService">
      <soap:operation soapAction="http://www.navipro.se/navisionmobile/PerformService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SynchServiceHttpGet" type="tns:SynchServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="PerformService">
      <http:operation location="/PerformService" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SynchServiceHttpPost" type="tns:SynchServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PerformService">
      <http:operation location="/PerformService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SynchService">
    <wsdl:port name="SynchServiceSoap" binding="tns:SynchServiceSoap">
      <soap:address location="http://dev1.navipro.se/NavisionMobile/SynchService.asmx" />
    </wsdl:port>
    <wsdl:port name="SynchServiceHttpGet" binding="tns:SynchServiceHttpGet">
      <http:address location="http://dev1.navipro.se/NavisionMobile/SynchService.asmx" />
    </wsdl:port>
    <wsdl:port name="SynchServiceHttpPost" binding="tns:SynchServiceHttpPost">
      <http:address location="http://dev1.navipro.se/NavisionMobile/SynchService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>